%h1 Reorder Pages

= form_for site, url: update_order_admin_pages_path do |f|
  %ul.reorder_view
    = f.fields_for :pages, pages do |f|
      %li
        %span.handle
          = f.hidden_field :position
          %p= f.object.name
  %fieldset.actions
    = f.submit "Save Changes"
