!!!
%html
  %head
    %title= site.name
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "sites/#{site.stylesheet_name}"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      = filepicker_image_tag site.logo_url
    %nav
      = link_to "Home", :root

    #container
      = yield

    %footer
      #content
        = site.address
