!!!
%html
  %head
    %title= site.name
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "sites/#{site.stylesheet_name}"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header

      #social_icons
        = render 'pages/social_icons'

      .logo
        = link_to :root do
          = filepicker_image_tag site.logo_url

    %nav#top
      - site.ordered_pages.each do |page|
        %li= link_to page.name, page

    #container
      .content
        - if content_for(:nested)
          = yield(:nested)
        - else
          = yield

    %footer
      .content

        .right
          .logo
            = filepicker_image_tag site.logo_url
          .info
            = li_present site, 'phone'
            = li_present site, 'fax'
            = li_present site, 'email'
            %li= site.address
            %li= site.city_state_zip

        %nav
          - site.ordered_pages.each do |page|
            %li= link_to page.name, page

      .clear_both
