!!!
%html
  %head
    %title= site.name
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "sites/#{site.stylesheet_name}"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render "headers/#{site.header_type}"

    #container
      .content
        - if content_for(:nested)
          = yield(:nested)
        - else
          = yield

    = render "footers/#{site.footer_type}"

    .clear_both
