!!!
%html
  %head
    %title= site.name
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag "sites/#{site.stylesheet_name}"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      = filepicker_image_tag site.logo_url
    %nav
      %li= link_to "Home", :root
      %li= link_to "Property Search", :root
      %li= link_to "Neighborhoods", :root
      %li= link_to "Buyers", :root
      %li= link_to "Sellers", :root
      %li= link_to "About", :root

    #container
      .content
        = yield

    %footer
      .content
        .right
          .logo
            = filepicker_image_tag site.logo_url
          .info
            = li_present site, 'phone'
            = li_present site, 'fax'
            = li_present site, 'email'
            %li= site.address
            %li= site.city_state_zip
      .clear_both

