!!!
%html
  %head
    %title Realty Tech
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #container
      %section#super_admin
        %h1 Super Admin Dashboard

        - if not_on_super_admin_dashboard
          = link_to "&laquo; Back to dashboard".html_safe, super_admin_index_path

        = yield
