!!!
%html
  %head
    %title Realty Tech
    = stylesheet_link_tag    "super_admin"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %h1 Super Admin Dashboard
    %nav
      = li_link_to "Sites", sites_path
      = li_link_to "Users", users_path

    #container
      %section#super_admin
        = yield
